// Mixins
@import 'mixins';
$b1: #282c33;
$b2: #c778dd;
$white: #ffffff;

.konami {
  @include flex(row, center, center, center);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba($color: $b1, $alpha: 0.9);
  display: none;
  &__p {
    @include font(10rem, 600, uppercase);
    color: $white;

    position: absolute;
    z-index: 2;
    &--litle {
      bottom: 5%;
      font-size: 1rem;
    }
  }
  &__span {
    color: $b2;
    &--litle {
      font-size: 1rem;
    }
  }

  &__matrix {
    // display: ;
    overflow: hidden;
  }
}
