// Mixins
@import 'mixins';

$white: #fff;
$b1: #282c33;
$b2: #c778dd;
$b3: #abb2bf;

.empty {
  &__title {
    @include font(2rem, 500, uppercase);

    @include media(750px) {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}
.tag {
  &__span {
    color: $b2;
  }
  &__title {
    color: $b3;
  }
}
.work {
  &__paragraph {
    @include font(1.3rem, 400, normal);
    min-height: 6rem;
  }
  &__picture {
    overflow: hidden;
    height: 12.5rem;

    &--design {
      height: 18rem;
    }
  }
  &__image {
    height: 100%;
    filter: grayscale(1);

    &--desing {
      // filter: grayscale(1);
    }
  }

  &__tags {
    @include flex(row, space-between, flex-start, space-between);
    @include font(1.25rem, 500, uppercase);
    width: 100%;
  }
  &__title {
    @include font(2rem, 500, normal);
  }
  &__buttons {
    @include flex(row, space-between);
    gap: 1rem;
    width: 100%;
  }
  &__info {
    @include flex(column, flex-start, flex-start, flex-start);
    min-height: 3rem;
  }

  &__data {
    @include flex(column, flex-start, flex-start, flex-start);
    gap: 1rem;
    padding: 1rem;
  }
}
.works {
  // Works container
  @include container;

  &__container {
    // Work card
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  &__empty {
    @include flex(row, center, center, center);
    height: 100%;
    width: 100%;
    gap: 1rem;
    border: 2px solid $b3;

    &:hover {
      color: white;
      border-color: $b2;

      background: rgba(199, 120, 221, 0.05);
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      transition: box-shadow 200ms ease;

      & path {
        fill: $white;
        stroke: none;
      }
    }

    @include hoverNone {
      color: white;
      border-color: $b2;

      background: rgba(199, 120, 221, 0.05);
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      path {
        fill: $white;
        stroke: none;
      }
    }
  }
  &__span {
    color: $b2;
  }
  &__h2 {
    @include font(4rem, 600, uppercase);
    color: $white;
  }
  &__work {
    border: 2px solid $b3;
    overflow: hidden;

    &:hover {
      border-color: $b2;

      background: rgba(199, 120, 221, 0.05);
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      transition: box-shadow 200ms ease;

      .work__image {
        filter: grayscale(0);
        transform: scale(1.03);
        overflow: hidden;
        transition: grayscale, transform, 0.3s linear;
      }

      .work__title {
        color: $white;
        transition: color 0.3s linear;
      }

      .tag__title {
        color: $white;
        transition: color 0.3s linear;
      }
    }

    @include hoverNone {
      border-color: $b2;
      background: rgba(199, 120, 221, 0.05);
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      .work__image {
        filter: grayscale(0);
        overflow: hidden;
      }

      .work__title {
        color: $white;
      }

      .tag__title {
        color: $white;
      }
    }
  }
}
.button {
  &__anchor {
    @include flex(row, center);
    @include font(1.25rem, 500, uppercase);
    gap: 1rem;
    outline: 1px solid $b3;
    outline-offset: -1px;
    padding: 1rem;
    flex: 1;

    &:hover {
      color: $white;
      outline: 1px solid $b2;
      outline-width: 2px;
      outline-offset: -2px;
      background: rgba(199, 120, 221, 0.2);

      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      transition: box-shadow, color, 0.3s linear;

      & path {
        stroke: none;
        fill: white;
      }
    }

    @include hoverNone {
      color: $white;
      outline: 1px solid $b2;
      outline-width: 2px;
      outline-offset: -2px;
      background: rgba(199, 120, 221, 0.2);

      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      path {
        stroke: none;
        fill: white;
      }
    }
  }
}
