// Mixins
@import 'mixins';

$white: #fff;
$b1: #282c33;
$b2: #c778dd;

// Styles
.section {
  @include container(1rem 0);
  @include flex(column, center, flex-start);

  // All content in this section
  @include media(1024px) {
    align-items: center;
    gap: 0.5rem;
  }
  @include media(1400px) {
    gap: 1rem;
  }
  @include media(480px) {
    gap: 2rem;
  }

  gap: 3rem;

  // Download CV button
  &__anchor {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border: 1px solid $b2;

    text-transform: uppercase;

    @include media(480px) {
      width: 100%;
    }

    // If device cant hover
    @include hoverNone() {
      border: 2px solid $b2;
      color: $white;
      background: rgba(199, 120, 221, 0.2);

      /* Blur_Shadow */
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      transition: color, box-shadow, 0.3s linear;
    }

    &:hover {
      border: 2px solid $b2;
      color: $white;
      background: rgba(199, 120, 221, 0.2);

      /* Blur_Shadow */
      box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);

      transition: color, box-shadow, 0.3s linear;
    }
  }

  // Gradient image
  &__background {
    height: 46.875rem;
    width: 46.875rem;
    position: absolute;
    right: 0;
    top: 5%;
    z-index: -1;
  }

  // My image and the text container
  &__imagetext {
    @include flex(row, flex-start);

    width: 100%;
    gap: 2rem;

    @include media(1024px) {
      @include flex(column, center, center);
    }

    @include media(480px) {
      @include flex(column, center, flex-start);
    }
  }

  // Short about me container
  &__shortabout {
    @include font(1.2rem, 400, none);
    @include media(1024px) {
      text-align: center;
    }
  }

  // Iam Oscar... and #ui/front container
  &__titles {
    @include flex(column, center, flex-start);
    @include font(4rem, 600, inherit);
  }

  &__svg {
    position: fixed;
    right: 1rem;
    bottom: 2%;

    @include media(660px) {
      display: none;
    }
  }
}

.titles {
  // Iam Oscar Diaz
  &__title {
    @include font(4rem, 600, uppercase);
    margin-bottom: -2rem;
    @include media(1024px) {
      @include font(2rem, 600, uppercase);
      margin-bottom: 0;
    }
  }

  // #front/ui container
  &__subtitle {
    @include font(5rem, 600, inherit);
    display: flex;
    color: $b2;

    @include media(1024px) {
      @include font(2rem, 600, inherit);
    }
    @include media(480px) {
      @include font(1.7rem, 600, inherit);
    }
  }
}

// My picure and the text 'Iam, #ui/frontend'
.imagetext {
  &__picture {
    width: 10.9375rem;
    height: 10.9375rem;
    @include media(480px) {
      margin: 0 auto;
    }
  }
}
//
.paragraph {
  &__b {
    color: $white;
  }
}

.shortabout {
  &__paragraph {
    hyphens: balanced;
    white-space: pre-line;
    @include media(480px) {
      text-align: left;
      font-size: 1rem;
    }
  }
}

// Words container
.subtitle {
  &__subtitles {
    @include font(5rem, 600, inherit);
    position: relative;
    white-space: nowrap;
    @include media(1024px) {
      @include font(2rem, 600, inherit);
    }
    @include media(480px) {
      @include font(1.7rem, 600, inherit);
    }
  }
}
.subtitles {
  &__span {
    color: $white;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    opacity: 0;

    animation: topToBottom 5s linear infinite 0s;
  }

  &__span:nth-of-type(1) {
    animation-delay: 1s;
  }
  &__span:nth-of-type(2) {
    animation-delay: 2.5s;
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  10% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  25% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  30% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
  }
}
