@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --b-1: #282c33;
  --b-2: #c778dd;
  --b-3: #abb2bf;
  --b-4: #222;
  --negro: #000;
  --blanco: #fff;
  /* Tipografía */
  --tipo-principal: "Poppins", sans-serif;
  --tipo-secundaria: "Poppins", sans-serif;
  --padding-container: 32px 0;
  --animate-delay: 0.5s;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #393939;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 24px;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--b-3);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--b-1);
}

.sectiontitle__h2 {
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.sectiontitle__span {
  color: #c778dd;
}

.sectionsubtitle__h2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #abb2bf;
}
.sectionsubtitle__span {
  color: #c778dd;
}

.anchor__hash {
  color: #282c33;
}

.item__anchor:focus {
  color: #fff;
  font-weight: 600;
  transition: color, font-weight, 0.3s linear;
}
.item__anchor:focus .anchor__hash {
  color: #c778dd;
  font-weight: 600;
  transition: color, font-weight, 0.3s linear;
}
.item__anchor:hover {
  color: #fff;
  transition: color 0.5s linear;
}
.item__anchor:hover .anchor__hash {
  color: #c778dd;
  font-weight: 600;
  transition: color 0.5s linear;
}

.name__arrow {
  color: #c778dd;
}
.name__name {
  color: #fff;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
  position: sticky;
}
@media (max-width: 760px) {
  .navigator {
    padding: 1rem;
  }
}
.navigator__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
}
@media (max-width: 920px) {
  .navigator__list {
    gap: 0.5rem;
  }
}
@media (max-width: 760px) {
  .navigator__list {
    display: none;
  }
}
.navigator__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1rem;
  cursor: pointer;
  color: #fff;
}
.navigator__name {
  display: flex;
}

.select {
  appearance: menulist;
  cursor: pointer;
}
.select__option {
  background-color: #282c33;
  color: #fff;
}

.about {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}
@media (max-width: 760px) {
  .about {
    padding: 1rem;
  }
}
.about__anchor {
  display: inline-flex;
  font-weight: 600;
  color: #c778dd;
}
.about__b {
  font-size: 600;
  color: #fff;
}
.about__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about__paragraph {
  white-space: pre-line;
  hyphens: balanced;
}

.icons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.icons__h3 {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #abb2bf;
}
.icons__web {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
.icons__svg {
  position: relative;
}
.icons__svg:hover {
  background: rgba(199, 120, 221, 0.2);
  /* Blur_Shadow */
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow 0.3s linear;
}
.icons__svg:hover path {
  fill: #282c33;
  stroke: #282c33;
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.icons__svg:hover rect {
  fill: #c778dd;
  stroke: #c778dd;
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.icons__svg:hover .icons__span {
  display: inline-flex;
}
.icons__svg--last .icons__span {
  right: 0.05rem;
}
.icons__span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #282c33;
  border: 1px solid #c778dd;
  color: #fff;
  height: 3rem;
  display: none;
  padding: 1rem;
  white-space: nowrap;
  /* Position the tooltip text*/
  position: absolute;
  top: -4rem;
  z-index: 1;
}
.icons__icon {
  position: relative;
  fill: none;
  width: 2.8125rem;
  height: 2.8125rem;
}

.stack__container {
  padding-top: 2rem;
}

.contact {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
  margin-bottom: 2rem;
}
@media (max-width: 760px) {
  .contact {
    padding: 1rem;
  }
}
.contact__anchor {
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  width: 100%;
  border: 2px solid #c778dd;
  padding: 1rem;
  margin-top: 2rem;
}
.contact__anchor:hover {
  color: #fff;
  background: rgba(199, 120, 221, 0.2);
  /* Blur_Shadow */
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: color, box-shadow, 0.3s linear;
}
.contact__anchor:hover path {
  fill: #fff;
}
@media (hover: none) {
  .contact__anchor {
    color: #fff;
    background: rgba(199, 120, 221, 0.2);
    /* Blur_Shadow */
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  }
}

.home {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 3rem;
}
@media (max-width: 760px) {
  .home {
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .home {
    align-items: center;
    gap: 0.5rem;
  }
}
@media (max-width: 1400px) {
  .home {
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .home {
    gap: 2rem;
  }
}
@media (min-width: 1920px) {
  .home {
    padding: 5rem 0;
  }
}
.home__anchor {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid #c778dd;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 480px) {
  .home__anchor {
    width: 100%;
  }
}
@media (hover: none) {
  .home__anchor {
    border: 2px solid #c778dd;
    color: #fff;
    background: rgba(199, 120, 221, 0.2);
    /* Blur_Shadow */
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
    transition: color, box-shadow, 0.3s linear;
  }
  .home__anchor path {
    fill: #fff;
  }
}
.home__anchor:hover {
  color: #fff;
  background: rgba(199, 120, 221, 0.2);
  /* Blur_Shadow */
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow 0.3s linear;
}
.home__anchor:hover path {
  fill: #fff;
}
.home__background {
  height: 46.875rem;
  position: absolute;
  right: 0;
  top: 5%;
  width: 46.875rem;
  height: 95%;
  z-index: -1;
}
.home__imagetext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .home__imagetext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }
}
@media (max-width: 480px) {
  .home__imagetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }
}
.home__shortabout {
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}
@media (max-width: 1024px) {
  .home__shortabout {
    text-align: left;
  }
}
.home__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
}
.home__svg {
  position: fixed;
  right: 1rem;
  bottom: 2%;
}
@media (max-width: 660px) {
  .home__svg {
    display: none;
  }
}

.titles__title {
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: -2rem;
}
@media (max-width: 1024px) {
  .titles__title {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.titles__subtitle {
  font-family: Poppins;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  display: flex;
  color: #c778dd;
}
@media (max-width: 1024px) {
  .titles__subtitle {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}
@media (max-width: 480px) {
  .titles__subtitle {
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}

.imagetext__picture {
  width: 10.9375rem;
  height: 10.9375rem;
}
@media (max-width: 480px) {
  .imagetext__picture {
    margin: 0 auto;
  }
}
.imagetext__picture:hover {
  /* Blur_Shadow */
  border-radius: 50%;
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow 0.3s linear;
}

.paragraph__b {
  color: #fff;
}

.shortabout__paragraph {
  hyphens: balanced;
  white-space: pre-line;
}
@media (max-width: 480px) {
  .shortabout__paragraph {
    text-align: left;
    font-size: 1rem;
  }
}

.subtitle__subtitles {
  font-family: Poppins;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .subtitle__subtitles {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}
@media (max-width: 480px) {
  .subtitle__subtitles {
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}

.subtitles__span {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  opacity: 0;
  animation: topToBottom 5s linear infinite 0s;
}
.subtitles__span:nth-of-type(1) {
  animation-delay: 1s;
}
.subtitles__span:nth-of-type(2) {
  animation-delay: 2.5s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  10% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  25% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  30% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
  }
}
.empty__title {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 750px) {
  .empty__title {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.tag__span {
  color: #c778dd;
}
.tag__title {
  color: #abb2bf;
}

.work__paragraph {
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: normal;
  min-height: 6rem;
}
.work__picture {
  overflow: hidden;
  height: 12.5rem;
}
.work__picture--design {
  height: 18rem;
}
.work__image {
  height: 100%;
  filter: grayscale(1);
}
.work__tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
}
.work__title {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: normal;
}
.work__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
}
.work__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 3rem;
}
.work__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.works {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}
@media (max-width: 760px) {
  .works {
    padding: 1rem;
  }
}
.works__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.works__empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  border: 2px solid #abb2bf;
}
.works__empty:hover {
  color: white;
  border-color: #c778dd;
  background: rgba(199, 120, 221, 0.05);
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow 200ms ease;
}
.works__empty:hover path {
  fill: #fff;
  stroke: none;
}
@media (hover: none) {
  .works__empty {
    color: white;
    border-color: #c778dd;
    background: rgba(199, 120, 221, 0.05);
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  }
  .works__empty path {
    fill: #fff;
    stroke: none;
  }
}
.works__span {
  color: #c778dd;
}
.works__h2 {
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.works__work {
  border: 2px solid #abb2bf;
  overflow: hidden;
}
.works__work:hover {
  border-color: #c778dd;
  background: rgba(199, 120, 221, 0.05);
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow 200ms ease;
}
.works__work:hover .work__image {
  filter: grayscale(0);
  transform: scale(1.03);
  overflow: hidden;
  transition: grayscale, transform, 0.3s linear;
}
.works__work:hover .work__title {
  color: #fff;
  transition: color 0.3s linear;
}
.works__work:hover .tag__title {
  color: #fff;
  transition: color 0.3s linear;
}
@media (hover: none) {
  .works__work {
    border-color: #c778dd;
    background: rgba(199, 120, 221, 0.05);
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  }
  .works__work .work__image {
    filter: grayscale(0);
    overflow: hidden;
  }
  .works__work .work__title {
    color: #fff;
  }
  .works__work .tag__title {
    color: #fff;
  }
}

.button__anchor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  gap: 1rem;
  outline: 1px solid #abb2bf;
  outline-offset: -1px;
  padding: 1rem;
  flex: 1;
}
.button__anchor:hover {
  color: #fff;
  outline: 1px solid #c778dd;
  outline-width: 2px;
  outline-offset: -2px;
  background: rgba(199, 120, 221, 0.2);
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: box-shadow, color, 0.3s linear;
}
.button__anchor:hover path {
  stroke: none;
  fill: white;
}
@media (hover: none) {
  .button__anchor {
    color: #fff;
    outline: 1px solid #c778dd;
    outline-width: 2px;
    outline-offset: -2px;
    background: rgba(199, 120, 221, 0.2);
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  }
  .button__anchor path {
    stroke: none;
    fill: white;
  }
}

.social__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}
.social__h2 {
  font-family: Poppins;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #abb2bf;
}
.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  .social__icons {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}
.social__span {
  color: #c778dd;
}
.social__anchor {
  position: relative;
}
.social__anchor:hover .social__svgspan {
  opacity: 1;
  display: flex;
}
.social__anchor:hover .social__svgspan svg {
  stroke: #c778dd;
}
.social__svgspan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  background-color: #282c33;
  border: 2px solid #c778dd;
  color: #fff;
  height: 3rem;
  opacity: 1;
  display: none;
  padding: 1rem;
  width: auto;
  white-space: nowrap;
  /* Position the tooltip text*/
  position: absolute;
  top: -4rem;
  z-index: 1;
}
.social__svg {
  width: 3.375rem;
  height: 3.375rem;
  fill: none;
}
.social__svg:hover {
  stroke: #c778dd;
  filter: drop-shadow(0px 6px 40px rgba(112, 144, 176, 0.2));
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.social__svg:hover path {
  fill: #282c33;
  stroke: #282c33;
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.social__svg:hover rect {
  fill: #c778dd;
  stroke: #c778dd;
  transition: stroke, fill, box-shadow, 0.3s linear;
}

.footer {
  background-color: #222223;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer__p {
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.footer__p--litle {
  font-size: 1rem;
}
@media (hover: none) {
  .footer__p--litle {
    display: none;
  }
}
.footer__span {
  color: #c778dd;
}

.konami {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(40, 44, 51, 0.9);
  display: none;
}
.konami__p {
  font-family: Poppins;
  font-size: 10rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  z-index: 2;
}
.konami__p--litle {
  bottom: 5%;
  font-size: 1rem;
}
.konami__span {
  color: #c778dd;
}
.konami__span--litle {
  font-size: 1rem;
}
.konami__matrix {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
