@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --b-1: #282c33;
  --b-2: #c778dd;
  --b-3: #abb2bf;
  --b-4: #222;
  --negro: #000;
  --blanco: #fff;
  /* Tipografía */
  --tipo-principal: "Poppins", sans-serif;
  --tipo-secundaria: "Poppins", sans-serif;
  --padding-container: 32px 0;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #393939;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 24px;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--b-3);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--b-1);
}

.anchor__hash {
  color: #282c33;
}

.item__anchor:focus {
  color: #fff;
  font-weight: 600;
  transition: color, font-weight, 0.3s linear;
}
.item__anchor:focus .anchor__hash {
  color: #c778dd;
  font-weight: 600;
  transition: color, font-weight, 0.3s linear;
}
.item__anchor:hover {
  color: #fff;
  transition: color 0.5s linear;
}

.name__arrow {
  color: #c778dd;
}
.name__name {
  color: #fff;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
  position: sticky;
}
@media (max-width: 760px) {
  .navigator {
    padding: 1rem;
  }
}
.navigator__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
}
@media (max-width: 920px) {
  .navigator__list {
    gap: 0.5rem;
  }
}
@media (max-width: 760px) {
  .navigator__list {
    display: none;
  }
}
.navigator__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1rem;
  cursor: pointer;
  color: #fff;
}
.navigator__name {
  display: flex;
}

.select {
  appearance: menulist;
  cursor: pointer;
}
.select__option {
  background-color: #282c33;
  color: #fff;
}

.section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 3rem;
}
@media (max-width: 760px) {
  .section {
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .section {
    align-items: center;
    gap: 0.5rem;
  }
}
@media (max-width: 1400px) {
  .section {
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .section {
    gap: 2rem;
  }
}
@media (min-width: 1920px) {
  .section {
    padding: 5rem 0;
  }
}
.section__anchor {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid #c778dd;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .section__anchor {
    width: 100%;
  }
}
@media (hover: none) {
  .section__anchor {
    border: 2px solid #c778dd;
    color: #fff;
    background: rgba(199, 120, 221, 0.2);
    /* Blur_Shadow */
    box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
    transition: color, box-shadow, 0.3s linear;
  }
}
.section__anchor:hover {
  border: 2px solid #c778dd;
  color: #fff;
  background: rgba(199, 120, 221, 0.2);
  /* Blur_Shadow */
  box-shadow: 0px 6px 40px 0px rgba(112, 144, 176, 0.2);
  transition: color, box-shadow, 0.3s linear;
}
.section__background {
  height: 46.875rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 5%;
  width: 46.875rem;
  height: 95%;
  z-index: -1;
}
.section__imagetext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .section__imagetext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }
}
@media (max-width: 480px) {
  .section__imagetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }
}
.section__shortabout {
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}
@media (max-width: 1024px) {
  .section__shortabout {
    text-align: left;
  }
}
.section__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
}
.section__svg {
  position: fixed;
  right: 1rem;
  bottom: 2%;
}
@media (max-width: 660px) {
  .section__svg {
    display: none;
  }
}

.titles__title {
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: -2rem;
}
@media (max-width: 1024px) {
  .titles__title {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.titles__subtitle {
  font-family: Poppins;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  display: flex;
  color: #c778dd;
}
@media (max-width: 1024px) {
  .titles__subtitle {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}
@media (max-width: 480px) {
  .titles__subtitle {
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}

.imagetext__picture {
  width: 10.9375rem;
  height: 10.9375rem;
}
@media (max-width: 480px) {
  .imagetext__picture {
    margin: 0 auto;
  }
}

.paragraph__b {
  color: #fff;
}

.shortabout__paragraph {
  hyphens: balanced;
  white-space: pre-line;
}
@media (max-width: 480px) {
  .shortabout__paragraph {
    text-align: left;
    font-size: 1rem;
  }
}

.subtitle__subtitles {
  font-family: Poppins;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .subtitle__subtitles {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}
@media (max-width: 480px) {
  .subtitle__subtitles {
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: inherit;
  }
}

.subtitles__span {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  opacity: 0;
  animation: topToBottom 5s linear infinite 0s;
}
.subtitles__span:nth-of-type(1) {
  animation-delay: 1s;
}
.subtitles__span:nth-of-type(2) {
  animation-delay: 2.5s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  10% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  25% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  30% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
  }
}
.social__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}
.social__h2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #abb2bf;
}
.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  .social__icons {
    width: 100%;
    justify-content: space-between;
  }
}
.social__span {
  color: #c778dd;
}
.social__anchor {
  position: relative;
}
.social__anchor:hover .social__svgspan {
  opacity: 1;
  display: flex;
}
.social__anchor:hover .social__svgspan svg {
  stroke: #c778dd;
}
.social__svgspan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  background-color: #282c33;
  border: 2px solid #c778dd;
  color: #fff;
  height: 3rem;
  opacity: 1;
  display: none;
  padding: 1rem;
  width: auto;
  white-space: nowrap;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -4rem;
  z-index: 1;
}
.social__svg {
  width: 3.375rem;
  height: 3.375rem;
  fill: none;
}
.social__svg:hover {
  stroke: #c778dd;
  filter: drop-shadow(0px 6px 40px rgba(112, 144, 176, 0.2));
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.social__svg:hover path {
  fill: #282c33;
  stroke: #282c33;
  transition: stroke, fill, box-shadow, 0.3s linear;
}
.social__svg:hover rect {
  fill: #c778dd;
  stroke: #c778dd;
  transition: stroke, fill, box-shadow, 0.3s linear;
}

/*# sourceMappingURL=index.css.map */
